*{
  padding: 0;
  margin: 0%;
}
header{
  margin-top: 0;
  /* height: 12vh; */
  background-color: rgb(180, 216, 216);
  padding: 3rem 1rem;
  
}
.input{
  margin: 2rem 0;
}
header h1{
  color: rgb(32, 32, 32);
}
.input input{
  padding: 8px;
  border: 2px solid gray;
  border-radius: 2px;
  margin: 4px;
  width: 20%;
}
.input button{
  padding: 8px;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
  width: 6%;
}
.card{
  background-color: aliceblue;
  margin: -18px auto;
  padding: 2rem;
  width: 40%;
  

}
.card h3{
  color: #575757;
}
.card span img{
  width: 5rem;
}
p{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}